.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 1000px;
  /* Constraints for better readability */
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.page {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}