name: LAN CI/CD (Synology)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    defaults:
      run:
        working-directory: "./What to play"
    steps:
      - uses: actions/checkout@v4

      - name: Deploy application
        run: docker compose up -d --build --remove-orphans
